.popup {
  &_wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 1;
  }
  &_book {
    button {
      cursor: pointer;
    }

    h3 {
      width: 70%;
    }
    svg {
      position: relative;
      left: 40px;
      bottom: 10px;
      opacity: 0.4;
      &:hover {
        opacity: 0.8;
      }
    }
    display: flex;
    margin-top: 300px;
    margin-left: 600px;
    width: 400px;
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.time {
  display: flex;
  margin-bottom: 20px;

  &_pick {
    display: flex;
    margin-left: -8px;
  }
}
.date {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;

  button {
    margin-top: 11px;
    margin-bottom: -5px;
  }
  input {
    height: 30px;
    margin-bottom: 10px;
  }
}
.guest {
  margin-bottom: 20px;
}
