.content {
  display: flex;
  margin: 50px 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &_card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 10px;
    cursor: pointer;
    box-shadow: (rgba(0, 0, 0, 0.04));
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.03);
      box-shadow: 0px 2px 4px rgba(69, 69, 69, 0.1);
    }

    img {
      width: 400px;
      height: 200px;
    }
  }
}

svg {
  cursor: pointer;
}
popup-form {
  background-color: black;
}

img {
  align-self: center;
  width: 260px;
  height: 260px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.6;

  background-color: #003580;

  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;

  color: #ffffff;
  font-size: 18px;
  padding: 9px 18px 10px 19px;
  text-decoration: none;
}

.btn:hover {
  background: #000d70;

  text-decoration: none;
}
